html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Fira Mono', sans-serif;
    font-size: 18px;
    color: #3A3A3A;
    margin: auto;
    height: 100%;
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 100px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Fira Mono', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: 'Bitter', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content_content ul {
    list-style: square;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

::selection {
    color: #FFCB52;
    background: none;
}

.grid-container {
    background-color: #FEFEFE;
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
}

.main-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.main-page.is-current {
    visibility: visible;
}

.main-page.is-onTop {
  z-index: 1;
}

.header {
    top: 0;
    left: 0;
    height: 50px;
    z-index: 100;
    padding: 20px;
}

    .header #header_menu li {
        float: right;
        padding: 15px 20px;
        margin-right: 0;
        margin-top: 0;
        cursor: pointer;
        position: relative;
    }

    .header #header_menu li a {
        color: #3A3A3A;
    }

.homepage {
    margin: auto;
    background-image: url("http://i.imgur.com/Y4mpAJy.jpg");
    background-position: center bottom;
}

    .homepage_content {
        padding-left: 50px;
        margin: auto;
        color: #FFFFFF;
        display: block;
        position: absolute;
        top: 30%;        
    }

    .homepage .homepage_overlay {
        background-color: #000000;
        opacity: 0.75 !important;
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
    }    

.portfolio {
    margin: auto;
}

.work {
    cursor: pointer;
    margin-bottom: 10px;
}

    .work_header_text {
        padding: 25px 50px 25px 50px;
    }

    #ux_header {
        background-color: #FFCB52;
    }

    #proto_header {
        background-color: #79D0EF;
    }

    #digi_header {
        background-color: #D6AEFF;
    }

    #print_header {
        background-color: #FF7D6F;
    }    

    /*

    purple D6AEFF
    red FF7D6F / FF6F73
    green 9CE858 / 79E858

     */

    .work_thumb_list div {
        cursor: pointer;
        position: relative;
        background-color: #888888;
        height: 150px;
        background-repeat: no-repeat;
        background-size: 100%;        
    }

        #mobile_thumb {
            background-image: url("https://i.imgur.com/6Lw4nYi.jpg");
            background-position: center center;
        }

        #prev_thumb {
            background-image: url("https://i.imgur.com/nFEXgh9.png");
            background-position: left center;
        }

        #cap_thumb {
            background-image: url("https://i.imgur.com/hwt3KiC.png");
            background-position: left bottom;
        }

        #vidgeo_thumb {
            background-image: url("https://i.imgur.com/N0XAiwf.png");
            background-position: center center;
        }

        #trad_thumb {
            background-image: url("https://i.imgur.com/SKbg0tH.png");
            background-position: center bottom;
        }                        

        #owm_thumb {
            background-image: url("https://i.imgur.com/1Pz9HTE.png");
            background-position: center center;
        }

        #insta_thumb {
            background-image: url("https://i.imgur.com/3q4CEt8.png");
            background-position: center center;
        }

        #sprites_thumb {
            background-image: url("https://i.imgur.com/DNuyqxP.png");
            background-position: center center;
        }

        #pepsi_thumb {
            background-image: url("https://i.imgur.com/181q62u.png");
            background-position: center top;
        }

        #fl_thumb {
            background-image: url("http://i.imgur.com/7GHhjol.png");
            background-position: center top;
        }

        #pt_thumb {
            background-image: url("http://i.imgur.com/bOwBqE1.png");
            background-position: center top;
        }                        

        #carhartt_thumb {
            background-image: url("https://i.imgur.com/M8KwSB4.png");
            background-position: center top;
        }

        #ub_thumb {
            background-image: url("http://i.imgur.com/Deq6qEo.png");
            background-position: center center;
        }

    .work_thumb_list div a {
        padding-left: 10px;
        margin: auto;
        font-family:  'Montserrat', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: block;
        position: absolute;
        top: 25%;
    }
    
    .work_thumb_list .work_overlay {
        background-color: #000000;
        opacity: 0.7 !important;
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
    }


.work_content {
    /*padding: 10px;*/
    width: 100%;
}

    #mobile_content {
        background-color: #FFDD8E;
    }

    #prev_content {
        background-color: #FFF281;
    }

    #cap_content {
        background-color: #E8D176;
    }

    #vidgeo_content {
        background-color: #E8BA76;
    }

    #trad_content {
        background-color: #FFBA81;
    }

    #owm_content {
        background-color: #B7E8FC;
    }

    #insta_content {
        background-color: #9BC5D5;
    }

    #sprites_content {
        background-color: #AEDCEF;
    }

    #pepsi_content {
        background-color: #E3C1EF;
    }

    #fl_content {
        background-color: #EFCBFC;
    }

    #pt_content {
        background-color: #CAACD5;
    }

    #carhartt_content {
        background-color: #A68DAF;
    }

    #ub_content {
        background-color: #EFACA0;
    }

    #iso_content {
        background-color: #FCB5A9;
    }

    .content {
        padding: 5px 20px 5px 20px;
    }

    .content_header {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin-bottom: 5px;
    }

    .content_content {
        margin-bottom: 10px;
    }

.my-gallery {
    /*width: 75%;*/
    margin: 0 auto;
}

.my-gallery img {
    width: 100%;
    height: auto;
}

.my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
}

.my-gallery figcaption {
    display: none;
    font-size: 18px;
}

    .pswp__caption {
        bottom: 50px;
    }

    .pswp__caption__center {
        text-align: left;
        max-width: 800px;
        margin: 0 auto;
        font-size: 18px;
        padding: 10px;
        line-height: 20px;
        color: #CCC;   
        background-color: #555555;
    }