body {
    font-family: 'Roboto Slab', 'Helvetica Neue', sans-serif;
    background-color: #F5F5F5;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 14px;
    font-weight: 300;
}
