@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|Source+Code+Pro:300,400');

* {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0px;
	-moz-osx-font-smoothing: grayscale;
}
